.page-center {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 10pt;
  border-radius: 8pt;

  background: #f3f3f3;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.image-wrapper {
  position: relative;
  display: inline-block;
}

.bg-image {
  width: 500px;
  height: auto;
  border-radius: 0px;
}


.overlay-box {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 400px;
  max-height: 320px;

  padding: 8px;
  color: white;
  text-shadow: 1px 1px black;


  white-space: pre-wrap;

  overflow: hidden;
  text-align: center;
  line-height: 1.3;
}

.signature-box {
  position: absolute;
  bottom: 16px;
  right: 20px;
  font-size: 30px;
  color: white;
  text-shadow: 1px 1px 2px black;
  white-space: pre;
  text-align: right;
}

.highlight {
  color: rgb(250, 180, 52);
}

.textarea {
  width: 400px;
  height: 100px;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  resize: vertical;
  text-align: center;
  font-family: "Noto Serif JP";
}